@model List<HANGOSELL_KLTN.Models.EF.ModelDataset>

@{
    ViewData["Title"] = "Create Employee";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Add Employee</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Admin/Employee">Employees</a></li>
                        <li class="breadcrumb-item active">Add Employee</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <form action="/Admin/Employee/Create" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="CodeEmployee" class="form-label">Employee Code <span class="login-danger">*</span></label>
                                    <input type="text" class="form-control" id="CodeEmployee" name="CodeEmployee" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="EmployeeName" class="form-label">Employee Name <span class="login-danger">*</span></label>
                                    <input type="text" class="form-control" id="EmployeeName" name="EmployeeName" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="Email" class="form-label">Email <span class="login-danger">*</span></label>
                                    <input type="email" class="form-control" id="Email" name="Email" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="PhoneNumber" class="form-label">Phone Number <span class="login-danger">*</span></label>
                                    <input type="tel" class="form-control" id="PhoneNumber" name="PhoneNumber" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="DateOfBirth" class="form-label">Date of Birth <span class="login-danger">*</span></label>
                                    <input type="date" class="form-control datetimepicker" id="DateOfBirth" name="DateOfBirth" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="JoinDate" class="form-label">Join Date <span class="login-danger">*</span></label>
                                    <input type="date" class="form-control datetimepicker" id="JoinDate" name="JoinDate" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="RoleID" class="form-label">Role <span class="login-danger">*</span></label>
                                    <select class="form-control select" id="RoleID" name="RoleID" required>
                                        @foreach (var role in Model)
                                        {
                                            <option value="@role.role.Id">@role.role.RoleName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="Password" class="form-label">Password <span class="login-danger">*</span></label>
                                    <input type="password" class="form-control" id="Password" name="Password" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="Address" class="form-label">Address <span class="login-danger">*</span></label>
                                    <input type="text" class="form-control" id="Address" name="Address" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="row">
                                    <div class="col-11">
                                        <div class="form-group local-forms">
                                            <label>Avatar <span class="login-danger">*</span></label>
                                            <input type="file" class="form-control" accept="image/*" onchange="previewImage(event)" style="height: 45px;" name="image">
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="user-img" style="margin-left: -20px; height: 45px;">
                                            <img id="preview" class="rounded-circle" src="@Model ?? Url.Content(" ~ /images/default.jpg")" alt="Preview Image" />
                                        </div>
                                        @if (ViewBag.Message != null)
                                        {
                                            <div class="alert alert-info">@ViewBag.Message</div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <script>
                                function previewImage(event) {
                                    var reader = new FileReader();
                                    reader.onload = function () {
                                        var output = document.getElementById('preview');
                                        output.src = reader.result;
                                        output.style.display = 'block'; // Display the image
                                    }
                                    reader.readAsDataURL(event.target.files[0]); // Read the image file
                                }
                            </script>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="Position" class="form-label">Position (Optional)</label>
                                    <input type="text" class="form-control" id="Position" name="Position">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
