@model HANGOSELL_KLTN.Models.EF.Category

@{
    ViewData["Title"] = "Create Customer";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Add Customer</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Admin/Customer">Customer</a></li>
                        <li class="breadcrumb-item active">Add Customer</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <form action="/Admin/Customer/Create" method="POST" enctype="multipart/form-data">

                        <div class="row">
                            <div class="mb-3">
                                <label for="CompanyName" class="form-label">CompanyName <span class="login-danger">*</span></label>
                                <input type="text" class="form-control" id="CompanyName" name="CompanyName" required>
                            </div>

                            <div class="mb-3">
                                <label for="ContactPerson" class="form-label">ContactPerson <span class="login-danger">*</span></label>
                                <input type="text" class="form-control" id="ContactPerson" name="ContactPerson" required>
                            </div>

                            <div class="mb-3">
                                <label for="Email" class="form-label">Email <span class="login-danger">*</span></label>
                                <input type="email" class="form-control" id="Email" name="Email" value="" autocomplete="new-email" required>
                            </div>

                            <div class="mb-3">
                                <label for="PhoneNumber" class="form-label">Phone Number <span class="login-danger">*</span></label>
                                <input type="tel" class="form-control" id="PhoneNumber" name="PhoneNumber" required>
                            </div>

                            <div class="mb-3">
                                <label for="Password" class="form-label">Password <span class="login-danger">*</span></label>
                                <input type="password" class="form-control" id="Password" value="" autocomplete="new-password" required>
                            </div>

                            <div class="mb-3">
                                <label for="Address" class="form-label">Address <span class="login-danger">*</span></label>
                                <input type="text" class="form-control" id="Address" name="Address" required>
                            </div>

                            @* <div class="mb-3">
                                    <label for="Avatar" class="form-label">Avatar (Optional)</label>
                                    <input type="file" class="form-control" id="Avatar" name="Avatar">
                            </div> *@

                            <div class="col-12">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
