<div class="header-menu">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-12 col-menu">
				<div class="menu-bar d-lg-none d-block">
					<svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 18 12" fill="none">
						<path d="M6 2V0H18V2H6Z" fill="#FE9614"></path>
						<path d="M0 7H18V5H0V7Z" fill="#FE9614"></path>
						<path d="M6 12H18V10H6V12Z" fill="#FE9614"></path>
					</svg>
				</div>
				<nav class="header-nav">
					<ul class="item_big">
						<li class="nav-item active ">
							<a class="a-img" href="/" title="Trang chủ">
								Trang chủ
							</a>
						</li>
						<li class="nav-item ">
							<a class="a-img caret-down" href="/thoi-trang-nam" title="Thời trang Nam">
								Thời trang Nam
							</a>
							<i class="fa fa-caret-down"></i>
							<ul class="item_small">
								<li>
									<a class="caret-down" href="/so-mi-nam" title="Sơ mi nam">
										Sơ mi nam
									</a>
									<i class="fa fa-caret-down"></i>
									<ul>
										<li>
											<a href="/so-mi-ngan-tay" title="Sơ mi ngắn tay" class="a3">Sơ mi ngắn tay</a>
										</li>
										<li>
											<a href="/so-mi-dai-tay" title="Sơ mi dài tay" class="a3">Sơ mi dài tay</a>
										</li>
									</ul>
								</li>
								<li>
									<a class="" href="/quan-au-nam" title="Quần âu nam">
										Quần âu nam
									</a>
								</li>
								<li>
									<a class="" href="/quan-short-nam" title="Quần short nam">
										Quần short nam
									</a>
								</li>
							</ul>
						</li>
						<li class="nav-item ">
							<a class="a-img caret-down" href="/collections/all" title="Sản phẩm">
								Sản phẩm
							</a>
							<i class="fa fa-caret-down"></i>
							<ul class="item_small">
								<li>
									<a class="caret-down" href="/san-pham-noi-bat" title="Sản phẩm nổi bật">
										Sản phẩm nổi bật
									</a>
									<i class="fa fa-caret-down"></i>
									<ul>
										<li>
											<a href="/quan-ao" title="Quần áo" class="a3">Quần áo</a>
										</li>
										<li>
											<a href="/phu-kien" title="Phụ kiện" class="a3">Phụ kiện</a>
										</li>
										<li>
											<a href="/giay-dep" title="Giầy dép" class="a3">Giầy dép</a>
										</li>
										<li>
											<a href="/be-gai" title="Bé gái" class="a3">Bé gái</a>
										</li>
										<li>
											<a href="/be-trai" title="Bé trai" class="a3">Bé trai</a>
										</li>
									</ul>
								</li>
								<li>
									<a class="" href="/san-pham-hot-trend" title="Sản phẩm hot trend">
										Sản phẩm hot trend
									</a>
								</li>
								<li>
									<a class="" href="/san-pham-khuyen-mai" title="Sản phẩm khuyến mãi">
										Sản phẩm khuyến mãi
									</a>
								</li>
							</ul>
						</li>
						<li class="nav-item ">
							<a class="a-img" href="/be-trai" title="Bé trai">
								Bé trai
							</a>
						</li>
						<li class="nav-item ">
							<a class="a-img" href="/be-gai" title="Bé gái">
								Bé gái
							</a>
						</li>
						<li class="nav-item ">
							<a class="a-img" href="/tin-tuc" title="Tin tức">
								Tin tức
							</a>
						</li>
						<li class="nav-item ">
							<a class="a-img" href="/lien-he" title="Liên hệ">
								Liên hệ
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-lg-3 col-search-cart">
				<div class="phone_header">

					<div class="ct-header">
						<svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
							<path d="M7.0026 1.73991L7.81809 2.39884C9.15027 3.47525 9.3185 5.4399 8.18875 6.72742L8.07556 6.85642C7.26593 7.77912 7.04991 9.14192 7.85868 10.0643C8.63222 10.9465 9.67036 11.7227 11.1784 12.5682C12.3675 13.235 13.8544 12.9186 14.7532 11.8942L14.832 11.8045C15.9034 10.5834 17.7512 10.4249 19.0146 11.4458L19.7715 12.0573C20.8569 12.9344 21.2348 14.4653 20.4545 15.6219C19.7181 16.7134 18.8967 17.5674 17.9272 18.2654C17.3087 18.7107 16.512 18.8096 15.7757 18.6119C8.57753 16.6789 4.223 13.167 1.09904 6.66232C0.827031 6.09593 0.737959 5.44474 0.958532 4.85622C1.42443 3.61316 2.29572 2.56629 3.64249 1.56464C4.64717 0.817412 6.02944 0.953575 7.0026 1.73991Z" stroke="#1C5B41" stroke-width="1.5"></path>
							<path d="M3.32318 2.79199L8.30918 6.82076" stroke="#1C5B41" stroke-width="1.5"></path>
							<path d="M17.4891 2.54224L14.8114 5.20087" stroke="#1C5B41" stroke-width="1.5" stroke-linecap="round"></path>
							<path d="M18.9584 6.37634L16.9225 7.08326" stroke="#1C5B41" stroke-width="1.5" stroke-linecap="round"></path>
							<path d="M12.9167 3.0647L13.6407 1.04166" stroke="#1C5B41" stroke-width="1.5" stroke-linecap="round"></path>
							<path d="M14.9571 12.1924L19.9431 16.2211" stroke="#1C5B41" stroke-width="1.5"></path>
						</svg>
						<span>Hotline:</span>
						<a href="tel:19006750">1900 6750</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


