@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="bodywrap">
			<div class="layout-collection">
	<div class="banner_collection">
		<a href="#" title="banner"><img class="img-responsive" src="//bizweb.dktcdn.net/100/455/315/themes/894917/assets/banner_collection.png?1724746453440" alt="banner"></a>
	</div>
	<section class="bread-crumb">
	<div class="container">
		<ul class="breadcrumb">					
			<li class="home">
				<a href="/"><span>Trang chủ</span></a>						
				<span class="mr_lr">&nbsp;<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-right fa-w-10"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" class=""></path></svg>&nbsp;</span>
			</li>
			
			
			<li><strong><span> Tất cả sản phẩm</span></strong></li>
			
			
		</ul>
	</div>
</section>  
	<div class="container">
		<div class="row">
			<div class="block-collection col-lg-12 col-12">
				<h1 class="title-page d-md-block d-none">Tất cả sản phẩm</h1>
				<div class="category-products">
					
					<div id="sort-by">
	<label class="left">Sắp xếp: </label>

	<select name="sortBy" id="sortBy" class="selectBox">
		<option selected="" value="default">Mặc định</option>
		<option value="alpha-asc">A → Z</option>
		<option value="alpha-desc">Z → A</option>
		<option value="price-asc">Giá tăng dần</option>
		<option value="price-desc">Giá giảm dần</option>
		<option value="created-desc">Hàng mới nhất</option>
		<option value="created-asc">Hàng cũ nhất</option>
	</select>
	<script src="//bizweb.dktcdn.net/100/455/315/themes/894917/assets/sortby.js?1724746453440" type="text/javascript"></script>
</div>
					
					
					
					<div class="products-view products-view-grid list_hover_pro">
	<div class="row">
		
		<div class="col-lg-3 col-md-6 col-6 col-xl-custom">
			<div class="item_product_main">
				
<form action="/cart/add" method="post" class="variants product-action" data-cart-form="" data-id="product-actions-26677777" enctype="multipart/form-data">
	<div class="product-thumbnail">
		<a class="image_thumb scale_hover" href="/so-mi-dui-be-trai-vai-day-dan" title="Sơ mi đũi bé trai vải dày dặn" style="height: 198px;">
			<img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/4-jpeg-66d23174-0378-4f81-bc4e-2da7680f7338-eaf329e3-d8d4-4929-8093-2c858b5656a3.jpg?v=1656643686227" data-src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/4-jpeg-66d23174-0378-4f81-bc4e-2da7680f7338-eaf329e3-d8d4-4929-8093-2c858b5656a3.jpg?v=1656643686227" alt="Sơ mi đũi bé trai vải dày dặn" data-was-processed="true">
		</a>
		
		<div class="action d-xl-flex d-none">
			<input class="hidden" type="hidden" name="variantId" value="67831089">
			<button class="btn-cart btn-views" title="Tùy chọn" type="button" onclick="window.location.href='/so-mi-dui-be-trai-vai-day-dan'">
				Tùy chọn	
			</button>

		</div>
	</div>
	<div class="product-info">
		<h3 class="product-name"><a href="/so-mi-dui-be-trai-vai-day-dan" title="Sơ mi đũi bé trai vải dày dặn">Sơ mi đũi bé trai vải dày dặn</a></h3>
		<div class="price-box">
			100.000₫&nbsp;
			<span class="compare-price">300.000₫</span>

		</div>
	</div>
</form>	
			</div>
		</div>			
		
		<div class="col-lg-3 col-md-6 col-6 col-xl-custom">
			<div class="item_product_main">
				
<form action="/cart/add" method="post" class="variants product-action" data-cart-form="" data-id="product-actions-26307450" enctype="multipart/form-data">
	<div class="product-thumbnail">
		<a class="image_thumb scale_hover" href="/bo-so-mi-cotton-be-trai" title="Bộ sơ mi cotton bé trai" style="height: 198px;">
			<img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/1-jpeg-6bd0aac2-5c53-411a-9fb2-7432f8f9cdd9.jpg?v=1653990458150" data-src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/1-jpeg-6bd0aac2-5c53-411a-9fb2-7432f8f9cdd9.jpg?v=1653990458150" alt="Bộ sơ mi cotton bé trai" data-was-processed="true">
		</a>
		
		<div class="action d-xl-flex d-none">
			<input type="hidden" name="variantId" value="66158124">
			<button class="btn-cart btn-views add_to_cart " title="Thêm vào giỏ hàng">
				<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
					<g>
						<path d="M18.7179 6.86766C18.467 6.55289 18.0906 6.37232 17.6852 6.37232H14.026L12.0418 1.82891C11.9188 1.54721 11.5907 1.41848 11.309 1.54157C11.0272 1.66459 10.8986 1.99274 11.0216 2.27448L12.8112 6.37236H6.18877L7.97837 2.27448C8.10139 1.99274 7.97276 1.66462 7.69103 1.54157C7.40933 1.41848 7.08117 1.54713 6.95816 1.82891L4.97396 6.37236H1.31482C0.909367 6.37236 0.532967 6.55289 0.282071 6.86769C0.0357758 7.17674 -0.0551051 7.57403 0.0327328 7.95782L1.9868 16.493C2.12325 17.089 2.65046 17.5052 3.26889 17.5052H15.7311C16.3495 17.5052 16.8767 17.089 17.0132 16.493L18.9673 7.95778C19.0551 7.574 18.9642 7.1767 18.7179 6.86766ZM15.7311 16.3919H3.26889C3.17437 16.3919 3.09158 16.3299 3.07203 16.2445L1.11796 7.70937C1.10263 7.64239 1.12835 7.59199 1.15269 7.56153C1.17526 7.53318 1.22636 7.48564 1.31482 7.48564H4.48779L4.34198 7.81951C4.21897 8.10125 4.34759 8.42937 4.62932 8.55242C4.70183 8.58411 4.77739 8.59911 4.85179 8.59911C5.06636 8.59911 5.27083 8.47431 5.36219 8.26512L5.7026 7.48571H13.2975L13.6379 8.26512C13.7292 8.47434 13.9337 8.59911 14.1483 8.59911C14.2226 8.59911 14.2982 8.58411 14.3708 8.55242C14.6525 8.42941 14.7811 8.10125 14.6581 7.81951L14.5123 7.48564H17.6853C17.7737 7.48564 17.8248 7.53318 17.8474 7.56153C17.8717 7.59203 17.8974 7.64243 17.8821 7.70933L15.928 16.2445C15.9085 16.3299 15.8256 16.3919 15.7311 16.3919Z" fill="white"></path>
						<path d="M6.16016 9.89771C5.85274 9.89771 5.60352 10.1469 5.60352 10.4543V14.5364C5.60352 14.8438 5.85274 15.093 6.16016 15.093C6.46757 15.093 6.7168 14.8438 6.7168 14.5364V10.4543C6.7168 10.1469 6.46761 9.89771 6.16016 9.89771Z" fill="white"></path>
						<path d="M9.5 9.89771C9.19259 9.89771 8.94336 10.1469 8.94336 10.4543V14.5364C8.94336 14.8438 9.19259 15.093 9.5 15.093C9.80741 15.093 10.0566 14.8438 10.0566 14.5364V10.4543C10.0566 10.1469 9.80741 9.89771 9.5 9.89771Z" fill="white"></path>
						<path d="M12.8398 9.89771C12.5324 9.89771 12.2832 10.1469 12.2832 10.4543V14.5364C12.2832 14.8438 12.5324 15.093 12.8398 15.093C13.1473 15.093 13.3965 14.8438 13.3965 14.5364V10.4543C13.3964 10.1469 13.1473 9.89771 12.8398 9.89771Z" fill="white"></path>
					</g>
					<defs>
						<clipPath>
							<rect width="19" height="19" fill="white"></rect>
						</clipPath>
					</defs>
				</svg>
				Thêm vào giỏ hàng
			</button>

		</div>
	</div>
	<div class="product-info">
		<h3 class="product-name"><a href="/bo-so-mi-cotton-be-trai" title="Bộ sơ mi cotton bé trai">Bộ sơ mi cotton bé trai</a></h3>
		<div class="price-box">
			200.000₫&nbsp;
			<span class="compare-price">250.000₫</span>

		</div>
	</div>
</form>	
			</div>
		</div>			
		
		<div class="col-lg-3 col-md-6 col-6 col-xl-custom">
			<div class="item_product_main">
				
<form action="/cart/add" method="post" class="variants product-action" data-cart-form="" data-id="product-actions-26307416" enctype="multipart/form-data">
	<div class="product-thumbnail">
		<a class="image_thumb scale_hover" href="/bo-the-thao-be-trai" title="Bộ thể thao bé trai" style="height: 198px;">
			<img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/1-jpeg-7beba51a-b2a9-49b3-b8fd-5421a98cc695.jpg?v=1653990311827" data-src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/1-jpeg-7beba51a-b2a9-49b3-b8fd-5421a98cc695.jpg?v=1653990311827" alt="Bộ thể thao bé trai" data-was-processed="true">
		</a>
		
		<div class="action d-xl-flex d-none">
			<input type="hidden" name="variantId" value="66158064">
			<button class="btn-cart btn-views add_to_cart " title="Thêm vào giỏ hàng">
				<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
					<g>
						<path d="M18.7179 6.86766C18.467 6.55289 18.0906 6.37232 17.6852 6.37232H14.026L12.0418 1.82891C11.9188 1.54721 11.5907 1.41848 11.309 1.54157C11.0272 1.66459 10.8986 1.99274 11.0216 2.27448L12.8112 6.37236H6.18877L7.97837 2.27448C8.10139 1.99274 7.97276 1.66462 7.69103 1.54157C7.40933 1.41848 7.08117 1.54713 6.95816 1.82891L4.97396 6.37236H1.31482C0.909367 6.37236 0.532967 6.55289 0.282071 6.86769C0.0357758 7.17674 -0.0551051 7.57403 0.0327328 7.95782L1.9868 16.493C2.12325 17.089 2.65046 17.5052 3.26889 17.5052H15.7311C16.3495 17.5052 16.8767 17.089 17.0132 16.493L18.9673 7.95778C19.0551 7.574 18.9642 7.1767 18.7179 6.86766ZM15.7311 16.3919H3.26889C3.17437 16.3919 3.09158 16.3299 3.07203 16.2445L1.11796 7.70937C1.10263 7.64239 1.12835 7.59199 1.15269 7.56153C1.17526 7.53318 1.22636 7.48564 1.31482 7.48564H4.48779L4.34198 7.81951C4.21897 8.10125 4.34759 8.42937 4.62932 8.55242C4.70183 8.58411 4.77739 8.59911 4.85179 8.59911C5.06636 8.59911 5.27083 8.47431 5.36219 8.26512L5.7026 7.48571H13.2975L13.6379 8.26512C13.7292 8.47434 13.9337 8.59911 14.1483 8.59911C14.2226 8.59911 14.2982 8.58411 14.3708 8.55242C14.6525 8.42941 14.7811 8.10125 14.6581 7.81951L14.5123 7.48564H17.6853C17.7737 7.48564 17.8248 7.53318 17.8474 7.56153C17.8717 7.59203 17.8974 7.64243 17.8821 7.70933L15.928 16.2445C15.9085 16.3299 15.8256 16.3919 15.7311 16.3919Z" fill="white"></path>
						<path d="M6.16016 9.89771C5.85274 9.89771 5.60352 10.1469 5.60352 10.4543V14.5364C5.60352 14.8438 5.85274 15.093 6.16016 15.093C6.46757 15.093 6.7168 14.8438 6.7168 14.5364V10.4543C6.7168 10.1469 6.46761 9.89771 6.16016 9.89771Z" fill="white"></path>
						<path d="M9.5 9.89771C9.19259 9.89771 8.94336 10.1469 8.94336 10.4543V14.5364C8.94336 14.8438 9.19259 15.093 9.5 15.093C9.80741 15.093 10.0566 14.8438 10.0566 14.5364V10.4543C10.0566 10.1469 9.80741 9.89771 9.5 9.89771Z" fill="white"></path>
						<path d="M12.8398 9.89771C12.5324 9.89771 12.2832 10.1469 12.2832 10.4543V14.5364C12.2832 14.8438 12.5324 15.093 12.8398 15.093C13.1473 15.093 13.3965 14.8438 13.3965 14.5364V10.4543C13.3964 10.1469 13.1473 9.89771 12.8398 9.89771Z" fill="white"></path>
					</g>
					<defs>
						<clipPath>
							<rect width="19" height="19" fill="white"></rect>
						</clipPath>
					</defs>
				</svg>
				Thêm vào giỏ hàng
			</button>

		</div>
	</div>
	<div class="product-info">
		<h3 class="product-name"><a href="/bo-the-thao-be-trai" title="Bộ thể thao bé trai">Bộ thể thao bé trai</a></h3>
		<div class="price-box">
			400.000₫&nbsp;
			<span class="compare-price">500.000₫</span>

		</div>
	</div>
</form>	
			</div>
		</div>			
		
		<div class="col-lg-3 col-md-6 col-6 col-xl-custom">
			<div class="item_product_main">
				
<form action="/cart/add" method="post" class="variants product-action" data-cart-form="" data-id="product-actions-26307369" enctype="multipart/form-data">
	<div class="product-thumbnail">
		<a class="image_thumb scale_hover" href="/so-mi-dui-be-trai" title="Sơ mi đũi bé trai" style="height: 198px;">
			<img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/4-jpeg-66d23174-0378-4f81-bc4e-2da7680f7338.jpg?v=1653990041510" data-src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/4-jpeg-66d23174-0378-4f81-bc4e-2da7680f7338.jpg?v=1653990041510" alt="Sơ mi đũi bé trai" data-was-processed="true">
		</a>
		
		<div class="action d-xl-flex d-none">
			<input type="hidden" name="variantId" value="66157968">
			<button class="btn-cart btn-views add_to_cart " title="Thêm vào giỏ hàng">
				<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
					<g>
						<path d="M18.7179 6.86766C18.467 6.55289 18.0906 6.37232 17.6852 6.37232H14.026L12.0418 1.82891C11.9188 1.54721 11.5907 1.41848 11.309 1.54157C11.0272 1.66459 10.8986 1.99274 11.0216 2.27448L12.8112 6.37236H6.18877L7.97837 2.27448C8.10139 1.99274 7.97276 1.66462 7.69103 1.54157C7.40933 1.41848 7.08117 1.54713 6.95816 1.82891L4.97396 6.37236H1.31482C0.909367 6.37236 0.532967 6.55289 0.282071 6.86769C0.0357758 7.17674 -0.0551051 7.57403 0.0327328 7.95782L1.9868 16.493C2.12325 17.089 2.65046 17.5052 3.26889 17.5052H15.7311C16.3495 17.5052 16.8767 17.089 17.0132 16.493L18.9673 7.95778C19.0551 7.574 18.9642 7.1767 18.7179 6.86766ZM15.7311 16.3919H3.26889C3.17437 16.3919 3.09158 16.3299 3.07203 16.2445L1.11796 7.70937C1.10263 7.64239 1.12835 7.59199 1.15269 7.56153C1.17526 7.53318 1.22636 7.48564 1.31482 7.48564H4.48779L4.34198 7.81951C4.21897 8.10125 4.34759 8.42937 4.62932 8.55242C4.70183 8.58411 4.77739 8.59911 4.85179 8.59911C5.06636 8.59911 5.27083 8.47431 5.36219 8.26512L5.7026 7.48571H13.2975L13.6379 8.26512C13.7292 8.47434 13.9337 8.59911 14.1483 8.59911C14.2226 8.59911 14.2982 8.58411 14.3708 8.55242C14.6525 8.42941 14.7811 8.10125 14.6581 7.81951L14.5123 7.48564H17.6853C17.7737 7.48564 17.8248 7.53318 17.8474 7.56153C17.8717 7.59203 17.8974 7.64243 17.8821 7.70933L15.928 16.2445C15.9085 16.3299 15.8256 16.3919 15.7311 16.3919Z" fill="white"></path>
						<path d="M6.16016 9.89771C5.85274 9.89771 5.60352 10.1469 5.60352 10.4543V14.5364C5.60352 14.8438 5.85274 15.093 6.16016 15.093C6.46757 15.093 6.7168 14.8438 6.7168 14.5364V10.4543C6.7168 10.1469 6.46761 9.89771 6.16016 9.89771Z" fill="white"></path>
						<path d="M9.5 9.89771C9.19259 9.89771 8.94336 10.1469 8.94336 10.4543V14.5364C8.94336 14.8438 9.19259 15.093 9.5 15.093C9.80741 15.093 10.0566 14.8438 10.0566 14.5364V10.4543C10.0566 10.1469 9.80741 9.89771 9.5 9.89771Z" fill="white"></path>
						<path d="M12.8398 9.89771C12.5324 9.89771 12.2832 10.1469 12.2832 10.4543V14.5364C12.2832 14.8438 12.5324 15.093 12.8398 15.093C13.1473 15.093 13.3965 14.8438 13.3965 14.5364V10.4543C13.3964 10.1469 13.1473 9.89771 12.8398 9.89771Z" fill="white"></path>
					</g>
					<defs>
						<clipPath>
							<rect width="19" height="19" fill="white"></rect>
						</clipPath>
					</defs>
				</svg>
				Thêm vào giỏ hàng
			</button>

		</div>
	</div>
	<div class="product-info">
		<h3 class="product-name"><a href="/so-mi-dui-be-trai" title="Sơ mi đũi bé trai">Sơ mi đũi bé trai</a></h3>
		<div class="price-box">
			200.000₫&nbsp;
			<span class="compare-price">300.000₫</span>

		</div>
	</div>
</form>	
			</div>
		</div>			
		
		<div class="col-lg-3 col-md-6 col-6 col-xl-custom">
			<div class="item_product_main">
				
<form action="/cart/add" method="post" class="variants product-action" data-cart-form="" data-id="product-actions-26307306" enctype="multipart/form-data">
	<div class="product-thumbnail">
		<a class="image_thumb scale_hover" href="/vay-be-gai" title="Váy bé gái" style="height: 198px;">
			<img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/1-jpeg-0f9d6cd2-4ff9-4641-8deb-80b24610611c.jpg?v=1653989660387" data-src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/1-jpeg-0f9d6cd2-4ff9-4641-8deb-80b24610611c.jpg?v=1653989660387" alt="Váy bé gái" data-was-processed="true">
		</a>
		
		<div class="action d-xl-flex d-none">
			<input type="hidden" name="variantId" value="66157805">
			<button class="btn-cart btn-views add_to_cart " title="Thêm vào giỏ hàng">
				<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
					<g>
						<path d="M18.7179 6.86766C18.467 6.55289 18.0906 6.37232 17.6852 6.37232H14.026L12.0418 1.82891C11.9188 1.54721 11.5907 1.41848 11.309 1.54157C11.0272 1.66459 10.8986 1.99274 11.0216 2.27448L12.8112 6.37236H6.18877L7.97837 2.27448C8.10139 1.99274 7.97276 1.66462 7.69103 1.54157C7.40933 1.41848 7.08117 1.54713 6.95816 1.82891L4.97396 6.37236H1.31482C0.909367 6.37236 0.532967 6.55289 0.282071 6.86769C0.0357758 7.17674 -0.0551051 7.57403 0.0327328 7.95782L1.9868 16.493C2.12325 17.089 2.65046 17.5052 3.26889 17.5052H15.7311C16.3495 17.5052 16.8767 17.089 17.0132 16.493L18.9673 7.95778C19.0551 7.574 18.9642 7.1767 18.7179 6.86766ZM15.7311 16.3919H3.26889C3.17437 16.3919 3.09158 16.3299 3.07203 16.2445L1.11796 7.70937C1.10263 7.64239 1.12835 7.59199 1.15269 7.56153C1.17526 7.53318 1.22636 7.48564 1.31482 7.48564H4.48779L4.34198 7.81951C4.21897 8.10125 4.34759 8.42937 4.62932 8.55242C4.70183 8.58411 4.77739 8.59911 4.85179 8.59911C5.06636 8.59911 5.27083 8.47431 5.36219 8.26512L5.7026 7.48571H13.2975L13.6379 8.26512C13.7292 8.47434 13.9337 8.59911 14.1483 8.59911C14.2226 8.59911 14.2982 8.58411 14.3708 8.55242C14.6525 8.42941 14.7811 8.10125 14.6581 7.81951L14.5123 7.48564H17.6853C17.7737 7.48564 17.8248 7.53318 17.8474 7.56153C17.8717 7.59203 17.8974 7.64243 17.8821 7.70933L15.928 16.2445C15.9085 16.3299 15.8256 16.3919 15.7311 16.3919Z" fill="white"></path>
						<path d="M6.16016 9.89771C5.85274 9.89771 5.60352 10.1469 5.60352 10.4543V14.5364C5.60352 14.8438 5.85274 15.093 6.16016 15.093C6.46757 15.093 6.7168 14.8438 6.7168 14.5364V10.4543C6.7168 10.1469 6.46761 9.89771 6.16016 9.89771Z" fill="white"></path>
						<path d="M9.5 9.89771C9.19259 9.89771 8.94336 10.1469 8.94336 10.4543V14.5364C8.94336 14.8438 9.19259 15.093 9.5 15.093C9.80741 15.093 10.0566 14.8438 10.0566 14.5364V10.4543C10.0566 10.1469 9.80741 9.89771 9.5 9.89771Z" fill="white"></path>
						<path d="M12.8398 9.89771C12.5324 9.89771 12.2832 10.1469 12.2832 10.4543V14.5364C12.2832 14.8438 12.5324 15.093 12.8398 15.093C13.1473 15.093 13.3965 14.8438 13.3965 14.5364V10.4543C13.3964 10.1469 13.1473 9.89771 12.8398 9.89771Z" fill="white"></path>
					</g>
					<defs>
						<clipPath>
							<rect width="19" height="19" fill="white"></rect>
						</clipPath>
					</defs>
				</svg>
				Thêm vào giỏ hàng
			</button>

		</div>
	</div>
	<div class="product-info">
		<h3 class="product-name"><a href="/vay-be-gai" title="Váy bé gái">Váy bé gái</a></h3>
		<div class="price-box">
			110.000₫&nbsp;
			<span class="compare-price">120.000₫</span>

		</div>
	</div>
</form>	
			</div>
		</div>			
		
		<div class="col-lg-3 col-md-6 col-6 col-xl-custom">
			<div class="item_product_main">
				
<form action="/cart/add" method="post" class="variants product-action" data-cart-form="" data-id="product-actions-26307298" enctype="multipart/form-data">
	<div class="product-thumbnail">
		<a class="image_thumb scale_hover" href="/giay-cao-got" title="Giầy cao gót" style="height: 198px;">
			<img class="lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/1-jpeg-fc68cd7d-2199-41c3-b94a-b0e5e93ee2b5.jpg?v=1653989535523" alt="Giầy cao gót">
		</a>
		
		<div class="action d-xl-flex d-none">
			<input type="hidden" name="variantId" value="66157784">
			<button class="btn-cart btn-views add_to_cart " title="Thêm vào giỏ hàng">
				<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
					<g>
						<path d="M18.7179 6.86766C18.467 6.55289 18.0906 6.37232 17.6852 6.37232H14.026L12.0418 1.82891C11.9188 1.54721 11.5907 1.41848 11.309 1.54157C11.0272 1.66459 10.8986 1.99274 11.0216 2.27448L12.8112 6.37236H6.18877L7.97837 2.27448C8.10139 1.99274 7.97276 1.66462 7.69103 1.54157C7.40933 1.41848 7.08117 1.54713 6.95816 1.82891L4.97396 6.37236H1.31482C0.909367 6.37236 0.532967 6.55289 0.282071 6.86769C0.0357758 7.17674 -0.0551051 7.57403 0.0327328 7.95782L1.9868 16.493C2.12325 17.089 2.65046 17.5052 3.26889 17.5052H15.7311C16.3495 17.5052 16.8767 17.089 17.0132 16.493L18.9673 7.95778C19.0551 7.574 18.9642 7.1767 18.7179 6.86766ZM15.7311 16.3919H3.26889C3.17437 16.3919 3.09158 16.3299 3.07203 16.2445L1.11796 7.70937C1.10263 7.64239 1.12835 7.59199 1.15269 7.56153C1.17526 7.53318 1.22636 7.48564 1.31482 7.48564H4.48779L4.34198 7.81951C4.21897 8.10125 4.34759 8.42937 4.62932 8.55242C4.70183 8.58411 4.77739 8.59911 4.85179 8.59911C5.06636 8.59911 5.27083 8.47431 5.36219 8.26512L5.7026 7.48571H13.2975L13.6379 8.26512C13.7292 8.47434 13.9337 8.59911 14.1483 8.59911C14.2226 8.59911 14.2982 8.58411 14.3708 8.55242C14.6525 8.42941 14.7811 8.10125 14.6581 7.81951L14.5123 7.48564H17.6853C17.7737 7.48564 17.8248 7.53318 17.8474 7.56153C17.8717 7.59203 17.8974 7.64243 17.8821 7.70933L15.928 16.2445C15.9085 16.3299 15.8256 16.3919 15.7311 16.3919Z" fill="white"></path>
						<path d="M6.16016 9.89771C5.85274 9.89771 5.60352 10.1469 5.60352 10.4543V14.5364C5.60352 14.8438 5.85274 15.093 6.16016 15.093C6.46757 15.093 6.7168 14.8438 6.7168 14.5364V10.4543C6.7168 10.1469 6.46761 9.89771 6.16016 9.89771Z" fill="white"></path>
						<path d="M9.5 9.89771C9.19259 9.89771 8.94336 10.1469 8.94336 10.4543V14.5364C8.94336 14.8438 9.19259 15.093 9.5 15.093C9.80741 15.093 10.0566 14.8438 10.0566 14.5364V10.4543C10.0566 10.1469 9.80741 9.89771 9.5 9.89771Z" fill="white"></path>
						<path d="M12.8398 9.89771C12.5324 9.89771 12.2832 10.1469 12.2832 10.4543V14.5364C12.2832 14.8438 12.5324 15.093 12.8398 15.093C13.1473 15.093 13.3965 14.8438 13.3965 14.5364V10.4543C13.3964 10.1469 13.1473 9.89771 12.8398 9.89771Z" fill="white"></path>
					</g>
					<defs>
						<clipPath>
							<rect width="19" height="19" fill="white"></rect>
						</clipPath>
					</defs>
				</svg>
				Thêm vào giỏ hàng
			</button>

		</div>
	</div>
	<div class="product-info">
		<h3 class="product-name"><a href="/giay-cao-got" title="Giầy cao gót">Giầy cao gót</a></h3>
		<div class="price-box">
			150.000₫&nbsp;
			<span class="compare-price">200.000₫</span>

		</div>
	</div>
</form>	
			</div>
		</div>			
		
		<div class="col-lg-3 col-md-6 col-6 col-xl-custom">
			<div class="item_product_main">
				
<form action="/cart/add" method="post" class="variants product-action" data-cart-form="" data-id="product-actions-26307282" enctype="multipart/form-data">
	<div class="product-thumbnail">
		<a class="image_thumb scale_hover" href="/giay-converse-nu" title="Giầy converse nữ" style="height: 198px;">
			<img class="lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/2-jpeg-80ba2485-44d0-4207-ae67-55e275692381.jpg?v=1653989417203" alt="Giầy converse nữ">
		</a>
		
		<div class="action d-xl-flex d-none">
			<input type="hidden" name="variantId" value="66157752">
			<button class="btn-cart btn-views add_to_cart " title="Thêm vào giỏ hàng">
				<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
					<g>
						<path d="M18.7179 6.86766C18.467 6.55289 18.0906 6.37232 17.6852 6.37232H14.026L12.0418 1.82891C11.9188 1.54721 11.5907 1.41848 11.309 1.54157C11.0272 1.66459 10.8986 1.99274 11.0216 2.27448L12.8112 6.37236H6.18877L7.97837 2.27448C8.10139 1.99274 7.97276 1.66462 7.69103 1.54157C7.40933 1.41848 7.08117 1.54713 6.95816 1.82891L4.97396 6.37236H1.31482C0.909367 6.37236 0.532967 6.55289 0.282071 6.86769C0.0357758 7.17674 -0.0551051 7.57403 0.0327328 7.95782L1.9868 16.493C2.12325 17.089 2.65046 17.5052 3.26889 17.5052H15.7311C16.3495 17.5052 16.8767 17.089 17.0132 16.493L18.9673 7.95778C19.0551 7.574 18.9642 7.1767 18.7179 6.86766ZM15.7311 16.3919H3.26889C3.17437 16.3919 3.09158 16.3299 3.07203 16.2445L1.11796 7.70937C1.10263 7.64239 1.12835 7.59199 1.15269 7.56153C1.17526 7.53318 1.22636 7.48564 1.31482 7.48564H4.48779L4.34198 7.81951C4.21897 8.10125 4.34759 8.42937 4.62932 8.55242C4.70183 8.58411 4.77739 8.59911 4.85179 8.59911C5.06636 8.59911 5.27083 8.47431 5.36219 8.26512L5.7026 7.48571H13.2975L13.6379 8.26512C13.7292 8.47434 13.9337 8.59911 14.1483 8.59911C14.2226 8.59911 14.2982 8.58411 14.3708 8.55242C14.6525 8.42941 14.7811 8.10125 14.6581 7.81951L14.5123 7.48564H17.6853C17.7737 7.48564 17.8248 7.53318 17.8474 7.56153C17.8717 7.59203 17.8974 7.64243 17.8821 7.70933L15.928 16.2445C15.9085 16.3299 15.8256 16.3919 15.7311 16.3919Z" fill="white"></path>
						<path d="M6.16016 9.89771C5.85274 9.89771 5.60352 10.1469 5.60352 10.4543V14.5364C5.60352 14.8438 5.85274 15.093 6.16016 15.093C6.46757 15.093 6.7168 14.8438 6.7168 14.5364V10.4543C6.7168 10.1469 6.46761 9.89771 6.16016 9.89771Z" fill="white"></path>
						<path d="M9.5 9.89771C9.19259 9.89771 8.94336 10.1469 8.94336 10.4543V14.5364C8.94336 14.8438 9.19259 15.093 9.5 15.093C9.80741 15.093 10.0566 14.8438 10.0566 14.5364V10.4543C10.0566 10.1469 9.80741 9.89771 9.5 9.89771Z" fill="white"></path>
						<path d="M12.8398 9.89771C12.5324 9.89771 12.2832 10.1469 12.2832 10.4543V14.5364C12.2832 14.8438 12.5324 15.093 12.8398 15.093C13.1473 15.093 13.3965 14.8438 13.3965 14.5364V10.4543C13.3964 10.1469 13.1473 9.89771 12.8398 9.89771Z" fill="white"></path>
					</g>
					<defs>
						<clipPath>
							<rect width="19" height="19" fill="white"></rect>
						</clipPath>
					</defs>
				</svg>
				Thêm vào giỏ hàng
			</button>

		</div>
	</div>
	<div class="product-info">
		<h3 class="product-name"><a href="/giay-converse-nu" title="Giầy converse nữ">Giầy converse nữ</a></h3>
		<div class="price-box">
			100.000₫&nbsp;
			<span class="compare-price">350.000₫</span>

		</div>
	</div>
</form>	
			</div>
		</div>			
		
		<div class="col-lg-3 col-md-6 col-6 col-xl-custom">
			<div class="item_product_main">
				
<form action="/cart/add" method="post" class="variants product-action" data-cart-form="" data-id="product-actions-26199645" enctype="multipart/form-data">
	<div class="product-thumbnail">
		<a class="image_thumb scale_hover" href="/giay-nu" title="Giầy nữ" style="height: 198px;">
			<img class="lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/1-jpeg-11f875cd-a3e4-4408-8296-c0498dba8f1f.jpg?v=1653359146257" alt="Giầy nữ">
		</a>
		<div class="action d-xl-flex d-none">

		</div>
	</div>
	<div class="product-info">
		<h3 class="product-name"><a href="/giay-nu" title="Giầy nữ">Giầy nữ</a></h3>
		<div class="price-box">
			Liên hệ
		</div>
	</div>
</form>	
			</div>
		</div>			
		
		<div class="col-lg-3 col-md-6 col-6 col-xl-custom">
			<div class="item_product_main">
				
<form action="/cart/add" method="post" class="variants product-action" data-cart-form="" data-id="product-actions-26199621" enctype="multipart/form-data">
	<div class="product-thumbnail">
		<a class="image_thumb scale_hover" href="/ao-len-nu" title="Áo len nữ" style="height: 198px;">
			<img class="lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/3-jpeg-dcba3f1d-413f-4e83-87bb-c21479ea321b.jpg?v=1653358923853" alt="Áo len nữ">
		</a>
		
		<div class="action d-xl-flex d-none">
			<input type="hidden" name="variantId" value="65721053">
			<button class="btn-cart btn-views add_to_cart " title="Thêm vào giỏ hàng">
				<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
					<g>
						<path d="M18.7179 6.86766C18.467 6.55289 18.0906 6.37232 17.6852 6.37232H14.026L12.0418 1.82891C11.9188 1.54721 11.5907 1.41848 11.309 1.54157C11.0272 1.66459 10.8986 1.99274 11.0216 2.27448L12.8112 6.37236H6.18877L7.97837 2.27448C8.10139 1.99274 7.97276 1.66462 7.69103 1.54157C7.40933 1.41848 7.08117 1.54713 6.95816 1.82891L4.97396 6.37236H1.31482C0.909367 6.37236 0.532967 6.55289 0.282071 6.86769C0.0357758 7.17674 -0.0551051 7.57403 0.0327328 7.95782L1.9868 16.493C2.12325 17.089 2.65046 17.5052 3.26889 17.5052H15.7311C16.3495 17.5052 16.8767 17.089 17.0132 16.493L18.9673 7.95778C19.0551 7.574 18.9642 7.1767 18.7179 6.86766ZM15.7311 16.3919H3.26889C3.17437 16.3919 3.09158 16.3299 3.07203 16.2445L1.11796 7.70937C1.10263 7.64239 1.12835 7.59199 1.15269 7.56153C1.17526 7.53318 1.22636 7.48564 1.31482 7.48564H4.48779L4.34198 7.81951C4.21897 8.10125 4.34759 8.42937 4.62932 8.55242C4.70183 8.58411 4.77739 8.59911 4.85179 8.59911C5.06636 8.59911 5.27083 8.47431 5.36219 8.26512L5.7026 7.48571H13.2975L13.6379 8.26512C13.7292 8.47434 13.9337 8.59911 14.1483 8.59911C14.2226 8.59911 14.2982 8.58411 14.3708 8.55242C14.6525 8.42941 14.7811 8.10125 14.6581 7.81951L14.5123 7.48564H17.6853C17.7737 7.48564 17.8248 7.53318 17.8474 7.56153C17.8717 7.59203 17.8974 7.64243 17.8821 7.70933L15.928 16.2445C15.9085 16.3299 15.8256 16.3919 15.7311 16.3919Z" fill="white"></path>
						<path d="M6.16016 9.89771C5.85274 9.89771 5.60352 10.1469 5.60352 10.4543V14.5364C5.60352 14.8438 5.85274 15.093 6.16016 15.093C6.46757 15.093 6.7168 14.8438 6.7168 14.5364V10.4543C6.7168 10.1469 6.46761 9.89771 6.16016 9.89771Z" fill="white"></path>
						<path d="M9.5 9.89771C9.19259 9.89771 8.94336 10.1469 8.94336 10.4543V14.5364C8.94336 14.8438 9.19259 15.093 9.5 15.093C9.80741 15.093 10.0566 14.8438 10.0566 14.5364V10.4543C10.0566 10.1469 9.80741 9.89771 9.5 9.89771Z" fill="white"></path>
						<path d="M12.8398 9.89771C12.5324 9.89771 12.2832 10.1469 12.2832 10.4543V14.5364C12.2832 14.8438 12.5324 15.093 12.8398 15.093C13.1473 15.093 13.3965 14.8438 13.3965 14.5364V10.4543C13.3964 10.1469 13.1473 9.89771 12.8398 9.89771Z" fill="white"></path>
					</g>
					<defs>
						<clipPath>
							<rect width="19" height="19" fill="white"></rect>
						</clipPath>
					</defs>
				</svg>
				Thêm vào giỏ hàng
			</button>

		</div>
	</div>
	<div class="product-info">
		<h3 class="product-name"><a href="/ao-len-nu" title="Áo len nữ">Áo len nữ</a></h3>
		<div class="price-box">
			110.000₫&nbsp;
			<span class="compare-price">130.000₫</span>

		</div>
	</div>
</form>	
			</div>
		</div>			
		
		<div class="col-lg-3 col-md-6 col-6 col-xl-custom">
			<div class="item_product_main">
				
<form action="/cart/add" method="post" class="variants product-action" data-cart-form="" data-id="product-actions-26199607" enctype="multipart/form-data">
	<div class="product-thumbnail">
		<a class="image_thumb scale_hover" href="/chan-vay-nu" title="Chân váy nữ" style="height: 198px;">
			<img class="lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/1-jpeg-e39c9ad8-b2bf-455a-a246-0cc8522a6de5.jpg?v=1653358813817" alt="Chân váy nữ">
		</a>
		<div class="action d-xl-flex d-none">
			<input type="hidden" name="variantId" value="65721028">
			<button class="btn-cart btn-views add_to_cart " title="Thêm vào giỏ hàng">
				<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
					<g>
						<path d="M18.7179 6.86766C18.467 6.55289 18.0906 6.37232 17.6852 6.37232H14.026L12.0418 1.82891C11.9188 1.54721 11.5907 1.41848 11.309 1.54157C11.0272 1.66459 10.8986 1.99274 11.0216 2.27448L12.8112 6.37236H6.18877L7.97837 2.27448C8.10139 1.99274 7.97276 1.66462 7.69103 1.54157C7.40933 1.41848 7.08117 1.54713 6.95816 1.82891L4.97396 6.37236H1.31482C0.909367 6.37236 0.532967 6.55289 0.282071 6.86769C0.0357758 7.17674 -0.0551051 7.57403 0.0327328 7.95782L1.9868 16.493C2.12325 17.089 2.65046 17.5052 3.26889 17.5052H15.7311C16.3495 17.5052 16.8767 17.089 17.0132 16.493L18.9673 7.95778C19.0551 7.574 18.9642 7.1767 18.7179 6.86766ZM15.7311 16.3919H3.26889C3.17437 16.3919 3.09158 16.3299 3.07203 16.2445L1.11796 7.70937C1.10263 7.64239 1.12835 7.59199 1.15269 7.56153C1.17526 7.53318 1.22636 7.48564 1.31482 7.48564H4.48779L4.34198 7.81951C4.21897 8.10125 4.34759 8.42937 4.62932 8.55242C4.70183 8.58411 4.77739 8.59911 4.85179 8.59911C5.06636 8.59911 5.27083 8.47431 5.36219 8.26512L5.7026 7.48571H13.2975L13.6379 8.26512C13.7292 8.47434 13.9337 8.59911 14.1483 8.59911C14.2226 8.59911 14.2982 8.58411 14.3708 8.55242C14.6525 8.42941 14.7811 8.10125 14.6581 7.81951L14.5123 7.48564H17.6853C17.7737 7.48564 17.8248 7.53318 17.8474 7.56153C17.8717 7.59203 17.8974 7.64243 17.8821 7.70933L15.928 16.2445C15.9085 16.3299 15.8256 16.3919 15.7311 16.3919Z" fill="white"></path>
						<path d="M6.16016 9.89771C5.85274 9.89771 5.60352 10.1469 5.60352 10.4543V14.5364C5.60352 14.8438 5.85274 15.093 6.16016 15.093C6.46757 15.093 6.7168 14.8438 6.7168 14.5364V10.4543C6.7168 10.1469 6.46761 9.89771 6.16016 9.89771Z" fill="white"></path>
						<path d="M9.5 9.89771C9.19259 9.89771 8.94336 10.1469 8.94336 10.4543V14.5364C8.94336 14.8438 9.19259 15.093 9.5 15.093C9.80741 15.093 10.0566 14.8438 10.0566 14.5364V10.4543C10.0566 10.1469 9.80741 9.89771 9.5 9.89771Z" fill="white"></path>
						<path d="M12.8398 9.89771C12.5324 9.89771 12.2832 10.1469 12.2832 10.4543V14.5364C12.2832 14.8438 12.5324 15.093 12.8398 15.093C13.1473 15.093 13.3965 14.8438 13.3965 14.5364V10.4543C13.3964 10.1469 13.1473 9.89771 12.8398 9.89771Z" fill="white"></path>
					</g>
					<defs>
						<clipPath>
							<rect width="19" height="19" fill="white"></rect>
						</clipPath>
					</defs>
				</svg>
				Thêm vào giỏ hàng
			</button>

		</div>
	</div>
	<div class="product-info">
		<h3 class="product-name"><a href="/chan-vay-nu" title="Chân váy nữ">Chân váy nữ</a></h3>
		<div class="price-box">
70.000₫		</div>
	</div>
</form>	
			</div>
		</div>			
		
		<div class="col-lg-3 col-md-6 col-6 col-xl-custom">
			<div class="item_product_main">
				
<form action="/cart/add" method="post" class="variants product-action" data-cart-form="" data-id="product-actions-26199518" enctype="multipart/form-data">
	<div class="product-thumbnail">
		<a class="image_thumb scale_hover" href="/vay-nu" title="Váy nữ" style="height: 198px;">
			<img class="lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/3-jpeg-6325ab0a-ce2e-49a7-a979-dc440c0a0518.jpg?v=1653358432663" alt="Váy nữ">
		</a>
		<div class="action d-xl-flex d-none">
			<input type="hidden" name="variantId" value="65720714">
			<button class="btn-cart btn-views add_to_cart " title="Thêm vào giỏ hàng">
				<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
					<g>
						<path d="M18.7179 6.86766C18.467 6.55289 18.0906 6.37232 17.6852 6.37232H14.026L12.0418 1.82891C11.9188 1.54721 11.5907 1.41848 11.309 1.54157C11.0272 1.66459 10.8986 1.99274 11.0216 2.27448L12.8112 6.37236H6.18877L7.97837 2.27448C8.10139 1.99274 7.97276 1.66462 7.69103 1.54157C7.40933 1.41848 7.08117 1.54713 6.95816 1.82891L4.97396 6.37236H1.31482C0.909367 6.37236 0.532967 6.55289 0.282071 6.86769C0.0357758 7.17674 -0.0551051 7.57403 0.0327328 7.95782L1.9868 16.493C2.12325 17.089 2.65046 17.5052 3.26889 17.5052H15.7311C16.3495 17.5052 16.8767 17.089 17.0132 16.493L18.9673 7.95778C19.0551 7.574 18.9642 7.1767 18.7179 6.86766ZM15.7311 16.3919H3.26889C3.17437 16.3919 3.09158 16.3299 3.07203 16.2445L1.11796 7.70937C1.10263 7.64239 1.12835 7.59199 1.15269 7.56153C1.17526 7.53318 1.22636 7.48564 1.31482 7.48564H4.48779L4.34198 7.81951C4.21897 8.10125 4.34759 8.42937 4.62932 8.55242C4.70183 8.58411 4.77739 8.59911 4.85179 8.59911C5.06636 8.59911 5.27083 8.47431 5.36219 8.26512L5.7026 7.48571H13.2975L13.6379 8.26512C13.7292 8.47434 13.9337 8.59911 14.1483 8.59911C14.2226 8.59911 14.2982 8.58411 14.3708 8.55242C14.6525 8.42941 14.7811 8.10125 14.6581 7.81951L14.5123 7.48564H17.6853C17.7737 7.48564 17.8248 7.53318 17.8474 7.56153C17.8717 7.59203 17.8974 7.64243 17.8821 7.70933L15.928 16.2445C15.9085 16.3299 15.8256 16.3919 15.7311 16.3919Z" fill="white"></path>
						<path d="M6.16016 9.89771C5.85274 9.89771 5.60352 10.1469 5.60352 10.4543V14.5364C5.60352 14.8438 5.85274 15.093 6.16016 15.093C6.46757 15.093 6.7168 14.8438 6.7168 14.5364V10.4543C6.7168 10.1469 6.46761 9.89771 6.16016 9.89771Z" fill="white"></path>
						<path d="M9.5 9.89771C9.19259 9.89771 8.94336 10.1469 8.94336 10.4543V14.5364C8.94336 14.8438 9.19259 15.093 9.5 15.093C9.80741 15.093 10.0566 14.8438 10.0566 14.5364V10.4543C10.0566 10.1469 9.80741 9.89771 9.5 9.89771Z" fill="white"></path>
						<path d="M12.8398 9.89771C12.5324 9.89771 12.2832 10.1469 12.2832 10.4543V14.5364C12.2832 14.8438 12.5324 15.093 12.8398 15.093C13.1473 15.093 13.3965 14.8438 13.3965 14.5364V10.4543C13.3964 10.1469 13.1473 9.89771 12.8398 9.89771Z" fill="white"></path>
					</g>
					<defs>
						<clipPath>
							<rect width="19" height="19" fill="white"></rect>
						</clipPath>
					</defs>
				</svg>
				Thêm vào giỏ hàng
			</button>

		</div>
	</div>
	<div class="product-info">
		<h3 class="product-name"><a href="/vay-nu" title="Váy nữ">Váy nữ</a></h3>
		<div class="price-box">
150.000₫		</div>
	</div>
</form>	
			</div>
		</div>			
		
		<div class="col-lg-3 col-md-6 col-6 col-xl-custom">
			<div class="item_product_main">
				
<form action="/cart/add" method="post" class="variants product-action" data-cart-form="" data-id="product-actions-26199457" enctype="multipart/form-data">
	<div class="product-thumbnail">
		<a class="image_thumb scale_hover" href="/ao-khoac-nu" title="Áo khoác nữ" style="height: 198px;">
			<img class="lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/1-jpeg-1b210bcc-3357-4b40-8e48-dfa61547a4c4.jpg?v=1653358033383" alt="Áo khoác nữ">
		</a>
		
		<div class="action d-xl-flex d-none">
			<input type="hidden" name="variantId" value="65720610">
			<button class="btn-cart btn-views add_to_cart " title="Thêm vào giỏ hàng">
				<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
					<g>
						<path d="M18.7179 6.86766C18.467 6.55289 18.0906 6.37232 17.6852 6.37232H14.026L12.0418 1.82891C11.9188 1.54721 11.5907 1.41848 11.309 1.54157C11.0272 1.66459 10.8986 1.99274 11.0216 2.27448L12.8112 6.37236H6.18877L7.97837 2.27448C8.10139 1.99274 7.97276 1.66462 7.69103 1.54157C7.40933 1.41848 7.08117 1.54713 6.95816 1.82891L4.97396 6.37236H1.31482C0.909367 6.37236 0.532967 6.55289 0.282071 6.86769C0.0357758 7.17674 -0.0551051 7.57403 0.0327328 7.95782L1.9868 16.493C2.12325 17.089 2.65046 17.5052 3.26889 17.5052H15.7311C16.3495 17.5052 16.8767 17.089 17.0132 16.493L18.9673 7.95778C19.0551 7.574 18.9642 7.1767 18.7179 6.86766ZM15.7311 16.3919H3.26889C3.17437 16.3919 3.09158 16.3299 3.07203 16.2445L1.11796 7.70937C1.10263 7.64239 1.12835 7.59199 1.15269 7.56153C1.17526 7.53318 1.22636 7.48564 1.31482 7.48564H4.48779L4.34198 7.81951C4.21897 8.10125 4.34759 8.42937 4.62932 8.55242C4.70183 8.58411 4.77739 8.59911 4.85179 8.59911C5.06636 8.59911 5.27083 8.47431 5.36219 8.26512L5.7026 7.48571H13.2975L13.6379 8.26512C13.7292 8.47434 13.9337 8.59911 14.1483 8.59911C14.2226 8.59911 14.2982 8.58411 14.3708 8.55242C14.6525 8.42941 14.7811 8.10125 14.6581 7.81951L14.5123 7.48564H17.6853C17.7737 7.48564 17.8248 7.53318 17.8474 7.56153C17.8717 7.59203 17.8974 7.64243 17.8821 7.70933L15.928 16.2445C15.9085 16.3299 15.8256 16.3919 15.7311 16.3919Z" fill="white"></path>
						<path d="M6.16016 9.89771C5.85274 9.89771 5.60352 10.1469 5.60352 10.4543V14.5364C5.60352 14.8438 5.85274 15.093 6.16016 15.093C6.46757 15.093 6.7168 14.8438 6.7168 14.5364V10.4543C6.7168 10.1469 6.46761 9.89771 6.16016 9.89771Z" fill="white"></path>
						<path d="M9.5 9.89771C9.19259 9.89771 8.94336 10.1469 8.94336 10.4543V14.5364C8.94336 14.8438 9.19259 15.093 9.5 15.093C9.80741 15.093 10.0566 14.8438 10.0566 14.5364V10.4543C10.0566 10.1469 9.80741 9.89771 9.5 9.89771Z" fill="white"></path>
						<path d="M12.8398 9.89771C12.5324 9.89771 12.2832 10.1469 12.2832 10.4543V14.5364C12.2832 14.8438 12.5324 15.093 12.8398 15.093C13.1473 15.093 13.3965 14.8438 13.3965 14.5364V10.4543C13.3964 10.1469 13.1473 9.89771 12.8398 9.89771Z" fill="white"></path>
					</g>
					<defs>
						<clipPath>
							<rect width="19" height="19" fill="white"></rect>
						</clipPath>
					</defs>
				</svg>
				Thêm vào giỏ hàng
			</button>

		</div>
	</div>
	<div class="product-info">
		<h3 class="product-name"><a href="/ao-khoac-nu" title="Áo khoác nữ">Áo khoác nữ</a></h3>
		<div class="price-box">
			300.000₫&nbsp;
			<span class="compare-price">500.000₫</span>

		</div>
	</div>
</form>	
			</div>
		</div>			
		
		<div class="col-lg-3 col-md-6 col-6 col-xl-custom">
			<div class="item_product_main">
				
<form action="/cart/add" method="post" class="variants product-action" data-cart-form="" data-id="product-actions-26194537" enctype="multipart/form-data">
	<div class="product-thumbnail">
		<a class="image_thumb scale_hover" href="/do-the-thao-nu" title="Đồ thể thao nữ" style="height: 198px;">
			<img class="lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/1-jpeg-f7c305fd-59f6-48f8-9e4f-76160626f710.jpg?v=1653301590830" alt="Đồ thể thao nữ">
		</a>
		<div class="action d-xl-flex d-none">

		</div>
	</div>
	<div class="product-info">
		<h3 class="product-name"><a href="/do-the-thao-nu" title="Đồ thể thao nữ">Đồ thể thao nữ</a></h3>
		<div class="price-box">
			Liên hệ
		</div>
	</div>
</form>	
			</div>
		</div>			
		
		<div class="col-lg-3 col-md-6 col-6 col-xl-custom">
			<div class="item_product_main">
				
<form action="/cart/add" method="post" class="variants product-action" data-cart-form="" data-id="product-actions-26194515" enctype="multipart/form-data">
	<div class="product-thumbnail">
		<a class="image_thumb scale_hover" href="/balo-chong-gu" title="Balo chống gù" style="height: 198px;">
			<img class="lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/3-jpeg-8b160652-fd3a-4648-86b1-6d52a27c6ac6.jpg?v=1653301422547" alt="Balo chống gù">
		</a>
		<div class="action d-xl-flex d-none">

		</div>
	</div>
	<div class="product-info">
		<h3 class="product-name"><a href="/balo-chong-gu" title="Balo chống gù">Balo chống gù</a></h3>
		<div class="price-box">
			Liên hệ
		</div>
	</div>
</form>	
			</div>
		</div>			
		
		<div class="col-lg-3 col-md-6 col-6 col-xl-custom">
			<div class="item_product_main">
				
<form action="/cart/add" method="post" class="variants product-action" data-cart-form="" data-id="product-actions-26194507" enctype="multipart/form-data">
	<div class="product-thumbnail">
		<a class="image_thumb scale_hover" href="/balo-tre-em" title="Balo trẻ em" style="height: 198px;">
			<img class="lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/1-jpeg-f89bcddf-d718-4862-9f2e-ef440e8de97b.jpg?v=1653301374827" alt="Balo trẻ em">
		</a>
		<div class="action d-xl-flex d-none">
			<input type="hidden" name="variantId" value="65706893">
			<button class="btn-cart btn-views add_to_cart " title="Thêm vào giỏ hàng">
				<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
					<g>
						<path d="M18.7179 6.86766C18.467 6.55289 18.0906 6.37232 17.6852 6.37232H14.026L12.0418 1.82891C11.9188 1.54721 11.5907 1.41848 11.309 1.54157C11.0272 1.66459 10.8986 1.99274 11.0216 2.27448L12.8112 6.37236H6.18877L7.97837 2.27448C8.10139 1.99274 7.97276 1.66462 7.69103 1.54157C7.40933 1.41848 7.08117 1.54713 6.95816 1.82891L4.97396 6.37236H1.31482C0.909367 6.37236 0.532967 6.55289 0.282071 6.86769C0.0357758 7.17674 -0.0551051 7.57403 0.0327328 7.95782L1.9868 16.493C2.12325 17.089 2.65046 17.5052 3.26889 17.5052H15.7311C16.3495 17.5052 16.8767 17.089 17.0132 16.493L18.9673 7.95778C19.0551 7.574 18.9642 7.1767 18.7179 6.86766ZM15.7311 16.3919H3.26889C3.17437 16.3919 3.09158 16.3299 3.07203 16.2445L1.11796 7.70937C1.10263 7.64239 1.12835 7.59199 1.15269 7.56153C1.17526 7.53318 1.22636 7.48564 1.31482 7.48564H4.48779L4.34198 7.81951C4.21897 8.10125 4.34759 8.42937 4.62932 8.55242C4.70183 8.58411 4.77739 8.59911 4.85179 8.59911C5.06636 8.59911 5.27083 8.47431 5.36219 8.26512L5.7026 7.48571H13.2975L13.6379 8.26512C13.7292 8.47434 13.9337 8.59911 14.1483 8.59911C14.2226 8.59911 14.2982 8.58411 14.3708 8.55242C14.6525 8.42941 14.7811 8.10125 14.6581 7.81951L14.5123 7.48564H17.6853C17.7737 7.48564 17.8248 7.53318 17.8474 7.56153C17.8717 7.59203 17.8974 7.64243 17.8821 7.70933L15.928 16.2445C15.9085 16.3299 15.8256 16.3919 15.7311 16.3919Z" fill="white"></path>
						<path d="M6.16016 9.89771C5.85274 9.89771 5.60352 10.1469 5.60352 10.4543V14.5364C5.60352 14.8438 5.85274 15.093 6.16016 15.093C6.46757 15.093 6.7168 14.8438 6.7168 14.5364V10.4543C6.7168 10.1469 6.46761 9.89771 6.16016 9.89771Z" fill="white"></path>
						<path d="M9.5 9.89771C9.19259 9.89771 8.94336 10.1469 8.94336 10.4543V14.5364C8.94336 14.8438 9.19259 15.093 9.5 15.093C9.80741 15.093 10.0566 14.8438 10.0566 14.5364V10.4543C10.0566 10.1469 9.80741 9.89771 9.5 9.89771Z" fill="white"></path>
						<path d="M12.8398 9.89771C12.5324 9.89771 12.2832 10.1469 12.2832 10.4543V14.5364C12.2832 14.8438 12.5324 15.093 12.8398 15.093C13.1473 15.093 13.3965 14.8438 13.3965 14.5364V10.4543C13.3964 10.1469 13.1473 9.89771 12.8398 9.89771Z" fill="white"></path>
					</g>
					<defs>
						<clipPath>
							<rect width="19" height="19" fill="white"></rect>
						</clipPath>
					</defs>
				</svg>
				Thêm vào giỏ hàng
			</button>

		</div>
	</div>
	<div class="product-info">
		<h3 class="product-name"><a href="/balo-tre-em" title="Balo trẻ em">Balo trẻ em</a></h3>
		<div class="price-box">
100.000₫		</div>
	</div>
</form>	
			</div>
		</div>			
		
		<div class="col-lg-3 col-md-6 col-6 col-xl-custom">
			<div class="item_product_main">
				
<form action="/cart/add" method="post" class="variants product-action" data-cart-form="" data-id="product-actions-26194139" enctype="multipart/form-data">
	<div class="product-thumbnail">
		<a class="image_thumb scale_hover" href="/so-mi-tre-em" title="Sơ mi trẻ em" style="height: 198px;">
			<img class="lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/1-jpeg-aa81af63-c254-4833-b59b-53818cec4f32.jpg?v=1653299420297" alt="Sơ mi trẻ em">
		</a>
		<div class="action d-xl-flex d-none">
			<input class="hidden" type="hidden" name="variantId" value="65705537">
			<button class="btn-cart btn-views" title="Tùy chọn" type="button" onclick="window.location.href='/so-mi-tre-em'">
				Tùy chọn	
			</button>

		</div>
	</div>
	<div class="product-info">
		<h3 class="product-name"><a href="/so-mi-tre-em" title="Sơ mi trẻ em">Sơ mi trẻ em</a></h3>
		<div class="price-box">
			Liên hệ
		</div>
	</div>
</form>	
			</div>
		</div>			
		
		<div class="col-lg-3 col-md-6 col-6 col-xl-custom">
			<div class="item_product_main">
				
<form action="/cart/add" method="post" class="variants product-action" data-cart-form="" data-id="product-actions-26194126" enctype="multipart/form-data">
	<div class="product-thumbnail">
		<a class="image_thumb scale_hover" href="/quan-au-nam-1" title="Quần âu nam" style="height: 198px;">
			<img class="lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/3-jpeg-d6dc2671-ad4d-4e7c-9a50-3607cf85ec34.jpg?v=1653299373627" alt="Quần âu nam">
		</a>
		<div class="action d-xl-flex d-none">
			<input type="hidden" name="variantId" value="65705519">
			<button class="btn-cart btn-views add_to_cart " title="Thêm vào giỏ hàng">
				<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
					<g>
						<path d="M18.7179 6.86766C18.467 6.55289 18.0906 6.37232 17.6852 6.37232H14.026L12.0418 1.82891C11.9188 1.54721 11.5907 1.41848 11.309 1.54157C11.0272 1.66459 10.8986 1.99274 11.0216 2.27448L12.8112 6.37236H6.18877L7.97837 2.27448C8.10139 1.99274 7.97276 1.66462 7.69103 1.54157C7.40933 1.41848 7.08117 1.54713 6.95816 1.82891L4.97396 6.37236H1.31482C0.909367 6.37236 0.532967 6.55289 0.282071 6.86769C0.0357758 7.17674 -0.0551051 7.57403 0.0327328 7.95782L1.9868 16.493C2.12325 17.089 2.65046 17.5052 3.26889 17.5052H15.7311C16.3495 17.5052 16.8767 17.089 17.0132 16.493L18.9673 7.95778C19.0551 7.574 18.9642 7.1767 18.7179 6.86766ZM15.7311 16.3919H3.26889C3.17437 16.3919 3.09158 16.3299 3.07203 16.2445L1.11796 7.70937C1.10263 7.64239 1.12835 7.59199 1.15269 7.56153C1.17526 7.53318 1.22636 7.48564 1.31482 7.48564H4.48779L4.34198 7.81951C4.21897 8.10125 4.34759 8.42937 4.62932 8.55242C4.70183 8.58411 4.77739 8.59911 4.85179 8.59911C5.06636 8.59911 5.27083 8.47431 5.36219 8.26512L5.7026 7.48571H13.2975L13.6379 8.26512C13.7292 8.47434 13.9337 8.59911 14.1483 8.59911C14.2226 8.59911 14.2982 8.58411 14.3708 8.55242C14.6525 8.42941 14.7811 8.10125 14.6581 7.81951L14.5123 7.48564H17.6853C17.7737 7.48564 17.8248 7.53318 17.8474 7.56153C17.8717 7.59203 17.8974 7.64243 17.8821 7.70933L15.928 16.2445C15.9085 16.3299 15.8256 16.3919 15.7311 16.3919Z" fill="white"></path>
						<path d="M6.16016 9.89771C5.85274 9.89771 5.60352 10.1469 5.60352 10.4543V14.5364C5.60352 14.8438 5.85274 15.093 6.16016 15.093C6.46757 15.093 6.7168 14.8438 6.7168 14.5364V10.4543C6.7168 10.1469 6.46761 9.89771 6.16016 9.89771Z" fill="white"></path>
						<path d="M9.5 9.89771C9.19259 9.89771 8.94336 10.1469 8.94336 10.4543V14.5364C8.94336 14.8438 9.19259 15.093 9.5 15.093C9.80741 15.093 10.0566 14.8438 10.0566 14.5364V10.4543C10.0566 10.1469 9.80741 9.89771 9.5 9.89771Z" fill="white"></path>
						<path d="M12.8398 9.89771C12.5324 9.89771 12.2832 10.1469 12.2832 10.4543V14.5364C12.2832 14.8438 12.5324 15.093 12.8398 15.093C13.1473 15.093 13.3965 14.8438 13.3965 14.5364V10.4543C13.3964 10.1469 13.1473 9.89771 12.8398 9.89771Z" fill="white"></path>
					</g>
					<defs>
						<clipPath>
							<rect width="19" height="19" fill="white"></rect>
						</clipPath>
					</defs>
				</svg>
				Thêm vào giỏ hàng
			</button>

		</div>
	</div>
	<div class="product-info">
		<h3 class="product-name"><a href="/quan-au-nam-1" title="Quần âu nam">Quần âu nam</a></h3>
		<div class="price-box">
170.000₫		</div>
	</div>
</form>	
			</div>
		</div>			
		
		<div class="col-lg-3 col-md-6 col-6 col-xl-custom">
			<div class="item_product_main">
				
<form action="/cart/add" method="post" class="variants product-action" data-cart-form="" data-id="product-actions-26194112" enctype="multipart/form-data">
	<div class="product-thumbnail">
		<a class="image_thumb scale_hover" href="/giay-da-tre-em" title="Giầy da trẻ em" style="height: 198px;">
			<img class="lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/3-jpeg-7c6193e9-0654-4b4b-993f-94bf521feb96.jpg?v=1653299283283" alt="Giầy da trẻ em">
		</a>
		<div class="action d-xl-flex d-none">

		</div>
	</div>
	<div class="product-info">
		<h3 class="product-name"><a href="/giay-da-tre-em" title="Giầy da trẻ em">Giầy da trẻ em</a></h3>
		<div class="price-box">
			Liên hệ
		</div>
	</div>
</form>	
			</div>
		</div>			
		
		<div class="col-lg-3 col-md-6 col-6 col-xl-custom">
			<div class="item_product_main">
				
<form action="/cart/add" method="post" class="variants product-action" data-cart-form="" data-id="product-actions-26194098" enctype="multipart/form-data">
	<div class="product-thumbnail">
		<a class="image_thumb scale_hover" href="/giay-bup-be-tre-em" title="Giầy búp bê trẻ em" style="height: 198px;">
			<img class="lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/1-jpeg-5873b707-8333-47b5-b552-9a22d7a8e352.jpg?v=1653299181637" alt="Giầy búp bê trẻ em">
		</a>
		<div class="action d-xl-flex d-none">

		</div>
	</div>
	<div class="product-info">
		<h3 class="product-name"><a href="/giay-bup-be-tre-em" title="Giầy búp bê trẻ em">Giầy búp bê trẻ em</a></h3>
		<div class="price-box">
			Liên hệ
		</div>
	</div>
</form>	
			</div>
		</div>			
		
		<div class="col-lg-3 col-md-6 col-6 col-xl-custom">
			<div class="item_product_main">
				
<form action="/cart/add" method="post" class="variants product-action" data-cart-form="" data-id="product-actions-26193713" enctype="multipart/form-data">
	<div class="product-thumbnail">
		<a class="image_thumb scale_hover" href="/gang-tay-tre-em" title="Găng tay trẻ em" style="height: 198px;">
			<img class="lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/455/315/products/2-jpeg-a24e0df9-98ad-4425-b067-25d03eed4715.jpg?v=1653297485677" alt="Găng tay trẻ em">
		</a>
		<div class="action d-xl-flex d-none">

		</div>
	</div>
	<div class="product-info">
		<h3 class="product-name"><a href="/gang-tay-tre-em" title="Găng tay trẻ em">Găng tay trẻ em</a></h3>
		<div class="price-box">
			Liên hệ
		</div>
	</div>
</form>	
			</div>
		</div>			
		
	</div>
</div>
<div class="pagenav">
	
	<nav class="clearfix relative nav_pagi w_100 ">
	<ul class="pagination clearfix">
		  
		<li class="page-item disabled"><a class="page-link" href="#">
			<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="angle-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" class="svg-inline--fa fa-angle-left fa-w-6"><path fill="currentColor" d="M4.2 247.5L151 99.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17L69.3 256l118.5 119.7c4.7 4.7 4.7 12.3 0 17L168 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 264.5c-4.7-4.7-4.7-12.3 0-17z" class=""></path></svg>
			</a></li>
		

		
		
		
		<li class="active page-item disabled"><a class="page-link" href="#">1</a></li>
		
		
		
		
		<li class="page-item"><a class="page-link" href="/collections/all?page=2">2</a></li>
		
		

		
		<li class="page-item hidden-xs"><a class="page-link" href="/collections/all?page=2">
			<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" class="svg-inline--fa fa-angle-right fa-w-6"><path fill="currentColor" d="M187.8 264.5L41 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 392.7c-4.7-4.7-4.7-12.3 0-17L122.7 256 4.2 136.3c-4.7-4.7-4.7-12.3 0-17L24 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17z" class=""></path></svg>
			</a></li>
		
	</ul>
</nav>
	
</div>
					
					
				</div>
			</div>
		</div>
		<div id="open-filters" class="open-filters d-lg-none d-xl-none">
			<i class="fa fa-filter"></i>
			<span>Lọc</span>
		</div>
	</div>
</div>
<div class="opacity_sidebar"></div>
<script>
	var colName = "Tất cả sản phẩm";
	
	var colId = 0;
	
	var selectedViewData = "data";
</script>
