@model HANGOSELL_KLTN.Models.EF.Employee

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="login-right">
    <div class="login-right-wrap">
        <h1>Welcome to Register</h1>
        <p class="account-subtitle">Already have an account? <a href="/Login">Sign in</a></p>
   

        <form action="/Admin/Employee/Register" method="post">
            <div class="form-group">
                <label for="name">Employee Code <span class="login-danger">*</span></label>
                <input type="text" id="CodeEmployee" class="form-control" name="CodeEmployee ">
                <span class="profile-views"><i class="fas fa-user-circle"></i></span>
            </div>
            <div class="form-group">
                <label for="name">Employee Name <span class="login-danger">*</span></label>
                <input type="text" id="EmployeeName" class="form-control" name="EmployeeName ">
                <span class="profile-views"><i class="fas"></i></span>
            </div>
            <div class="form-group">
                <label for="email">Email <span class="login-danger">*</span></label>
                <input type="email" id="email" class="form-control " name="email" value="" autocomplete="new-email">
                <span class="profile-views"><i class="fas fa-envelope"></i></span>
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu <span class="login-danger">*</span></label>
                <input type="password" id="password" class="form-control pass-input " name="password" value="" autocomplete="new-password">
                <span class="profile-views feather-eye toggle-password"></span>
            </div>
            <div class="form-group">
                <label for="password_confirmation">Repeat Password<span class="login-danger">*</span></label>
                <input type="password" id="password_confirmation" class="form-control pass-confirm " name="password_confirmation">
                <span class="profile-views feather-eye reg-toggle-password"></span>
                
                <span class="invalid-feedback" role="alert">
                    <strong>{{ $message }}</strong>
                </span>
                
            </div>
            
            <div class="form-group mb-0">
                <button class="btn btn-primary btn-block" type="submit">Register</button>
            </div>
        </form>
        
    </div>
</div>